@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

:root {
  --ff-heading: "Lobster", cursive;
  --ff-text: "Open Sans", sans-serif;
  --clr-main-background: #dbdbdb;
  --clr-card-background: #ffffff;
  --clr-accent: #009999;
}

body {
  font-family: var(--ff-text);
  background-color: var(--clr-main-background);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-heading);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}
