@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

:root {
  --ff-heading: "Lobster", cursive;
  --ff-text: "Open Sans", sans-serif;
  --clr-main-background: #f8f9fa;
  --clr-card-background: #ffffff;
  --clr-accent: #cc3333;
}

body {
  font-family: var(--ff-text);
  background-color: var(--clr-main-background);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-heading);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 1.8;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-accent-clr {
  color: var(--clr-accent);
}

/* INTRO */
.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://burger-liebe.com/wp-content/uploads/2019/12/Header-Burger-16.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: multiply;
}

.intro > .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.intro-sub-heading {
  font-family: var(--ff-text);
}
/* / INTRO */

/* CONTACT */
.contact .input-grp {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
  grid-template-areas:
    "prename"
    "lastname"
    "subject"
    "description"
    "submit-btn";
}

.prename {
  grid-area: prename;
}

.lastname {
  grid-area: lastname;
}

.subject {
  grid-area: subject;
}

.description {
  grid-area: description;
}

.submit-btn {
  grid-area: submit-btn;
  max-width: 8em;
  justify-self: center;
}
/* / CONTACT */
